
:root {
    --primary: #98D4D2;
    --secondary: #1B4D89;
    --accent: #F9E45B;
    --red: #B76D6D;
    --green: #6DB784;
    --hoverColor: #6DB784;
}

/* General style */

.button {
  margin: 4px;
  padding: 20px;
  margin-bottom: 15px;
  min-width: 240px;
  color: var(--secondary);
  font-family: 'Lexend peta', sans-serif;
  font-size: 20px;
  background-color: var(--accent);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
    background-color: var(--hoverColor);
 }

.small-button {
  color: var(--secondary);
  font-family: 'Lexend peta', sans-serif;
  font-size: 20px;
  background-color: var(--accent);
  padding: 2px;
  margin-bottom: 4px;
  min-width: 102px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.small-button:hover {
  background-color: var(--hoverColor);
}

.h1 {
  margin-bottom: 0px;
  margin-top: 75px;
  color: white;
  font-family: 'Kameron', serif;
  font-size: 150px;
  font-weight: bold;
}

.h2 {
  margin-top: 0px;
  color: white;
  font-family: 'Kameron', serif;
  font-size: 40px;
}

.h3 {
  margin-top: 0px;
  color: white;
  font-family: 'Kameron', serif;
  font-size: 30px;
}

.p {
  color: white;
  font-family: 'Kameron', serif;
  font-size: 18px;
}


/* LoginView style*/

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MainMenuView style*/

.main-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* gameView.css */

body.primary-background {
  background-color: var(--primary);
}

body {
  margin: 0;
  background-color: var(--secondary);
  height: 100%;
}

li{
  list-style-type: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: none;
  padding: 4px; /* Optional: Add some padding for better appearance */
  text-align: left; /* Optional: Adjust text alignment */
  color: var(--secondary);
  font-family: 'Kameron', serif;
  font-size: 15px;
}

tr {
  margin-bottom: 1px; /* Adjust the margin to reduce row spacing */
}

/* MainMenu.css */

.game-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.main-content {
  display: flex;
  flex: 1; /* Takes up remaining vertical space */
}


/* Main container for the game view */

.game-title{
  font-family: 'Kameron', serif;
  text-align: left;
  font-size: 40px;
  color: var(--primary);
  cursor: pointer;
}

.menu{
  align-items: right;
}

.lyrics-and-guess-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%; 
  width: 70%;
}

.guessed-word {
  font-weight: bold;
  /* Add any other styling you want for guessed words */
}

/* GuessBarView style */
.guess-bar-view {
  flex: 1;
  padding: 20px;
  background-color: var(--primary);
  align-items: center;
  position: relative;
}

.user-guesses {
  margin-top: 0px;
  color: var(--secondary);
  font-family: 'Kameron', serif;
  font-size: 20px;
  max-height: 50vh;
  overflow: auto;
}

.guess-title{
 
  color: var(--secondary);
  font-family: 'Kameron', serif;
  
}



/* LyricsView style*/

.lyrics-view {
  flex: 2;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 56px;
  max-height: 70vh;
  overflow: auto;
}

/* .textarea-container {
  width: 90%;
  position: relative;
  bottom: 0px;
} */

.textarea-container{
  width: 80%;
  position: relative;
  margin-bottom: 30px;
  margin-left: 30px;
}


.guess-input-button-container{
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.guess-button {
    font-family: 'Lexend peta', sans-serif;
    text-align: center;
    font-size: 4vh;
    letter-spacing: tight;
    background-color: var(--accent);
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    padding-right: 2px;
    width: 164px;
    height: 52px;
    color: var(--secondary);
    border-radius: 20px;
    font-weight: bold;
    line-height: 4vh;
    border: 1px solid;
  
}


.guess-bar-button-container {
  position: absolute;
  bottom: 20px;
  margin-left: 5px;
}

.hint-button {
  font-family: 'Lexend peta', sans-serif;
  text-align: center;
  font-size: 3vh;
  letter-spacing: tight;
  background-color: var(--accent);
  justify-content: center;
  align-items: stretch;
  padding: 5px;
  padding-right: 2px;
  width: 164px;
  height: 52px;
  color: var(--secondary);
  border-radius: 20px;
  font-weight: bold;
  line-height: 4vh;
  border: 1px solid;
  margin-right: 20px; 
  margin-left: 40px;
}

.giveup-button {
  font-family: 'Lexend peta', sans-serif;
  text-align: center;
  font-size: 3vh;
  letter-spacing: tight;
  background-color: var(--red);
  justify-content: center;
  align-items: stretch;
  padding: 5px;
  padding-right: 2px;
  width: 164px;
  height: 52px;
  color: var(--secondary);
  border-radius: 20px;
  font-weight: bold;
  line-height: 4vh;
  border: 1px solid;
}

.red-button {
  background-color: var(--red);
}

button:hover {
  transform: scale(1.05);
  font-weight: bolder;
}

.search-bar {
  width: 100%;
  height: 52px;
  padding: 10px;
  background-color: white;
  border: 1px solid;
  border-radius: 18px;
  font-family: 'Kameron', serif;
  font-size: 4vh;
  font-weight: normal;
  color: black;
  overflow: hidden;
  resize: none;
  line-height: 4vh;
 
}

.search-result {
  margin: 10px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.search-result-button {
  font-family: 'Kameron', serif;
  font-size: 2.2vh;
  font-weight: normal;
  text-align: left;
  background-color: var(--secondary);
  outline-width: 0px;
  border: none;
  color: white;
  border-radius: 20px;
}

.search-result-button:hover {
  font-weight: bolder;
  background-color: var(--hoverColor);
}

.search-bar::placeholder {
  color: black;
}

.search-bar:focus {
  outline: none;
  border-color: var(--secondary);
}

/* Basic styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  height: 24px;
  
}

/* Hamburger menu styling */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: var(--secondary);
  margin: 3px 0;
  transition: 0.4s;
  margin-right: 35px;
}


/* Navigation list styling */
/* .nav-list {
  display: flex;
  flex-direction: column;
  align-items: right;
  background-color: var(--secondary);
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50%;
  text-align: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}  */

.nav-list a {
  display: block;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* Show/hide the nav list on hamburger click */
.navbar.active .nav-list {
  transform: scaleY(1);
}

/* Hoverable dropdown styling */
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: right;
  background-color: tran; 

  position: absolute;
  top: 37px; /* Adjusted to place it below the navbar */
  right: 0;
  width: 185px;
  text-align: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.dropdown-button {
  font-family: 'Lexend peta', sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: tight;
  background-color: white;
  justify-content: center;
  align-items: stretch;
  padding: 5px;
  padding-right: 2px;
  width: 100%;
  height: 40%;
  color: var(--secondary);
  border-radius: 0px;
  font-weight: bold;
  line-height: 4vh;
  border: 0px;
}

.dropdown-button:hover {
  background-color: var(--hoverColor);
}

/* .navbar:hover .nav-list {
  transform: scaleY(1);
} */

.nav-list:hover {
  transform: scaleY(1);
}

/* style for highScore view */


.high-score-title{
  margin-top: 80px;
  color: white;
  font-family: 'Kameron', serif;
  font-size: 40px;
  text-align: center;
}

.high-score-container{
  background-color: white;
  width: 70%;
  height: 70%;
  align-items: center;
  border-radius: 10px;
  position:relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.return-button {
  margin: 4px;
  padding: 20px;
  bottom: 15px;
  left: 15px;
  position:absolute;
  min-width: 240px;
  color: var(--secondary);
  font-family: 'Lexend peta', sans-serif;
  font-size: 20px;
  background-color: var(--accent);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.instructions-button {
  margin-left: 18px;
  width: 20px;
  color: var(--secondary);
  cursor: pointer;
}

.instructions-button:hover {
  color: var(--hoverColor);
}

.info-modal {
  padding: 45px;
  width: 500px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
}

.search-modal {
  padding: 45px;
  width: 500px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
}

.score-table{
  top: 15px;
  left: 10%;
  position: absolute;
  overflow: auto;
}
